* {
  box-sizing: border-box;
}
html {
  background-color: blue;
}
body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  min-height: 150vh;
  font-size: 16px;
  font-family: helvetica, arial, roboto, sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: blue;
  color: white;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
  filter: blur(2em);
}
blockquote {
  line-height: 1;
  margin: 0;
  padding: 0.25em;
  vertical-align: middle;
  font-weight: 400;
  letter-spacing: -0.075em;
  font-size: 2em;
  text-transform: uppercase;
  transform: rotateY(16.66deg);
  transform-origin: left;
}
blockquote:before {
  content: '"';
  position: absolute;
  left: 0;
}
.diff {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  right: 1em;
  bottom: 1em;
  width: 10em;
  height: 10em;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: line-through;
}
section {
  background: white;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 5em 1em;
  min-height: 100vh;
}
header {
  position: relative;
  min-height: 50vmin;
  height: 100vh;
  perspective: 10vw;
  perspective-origin: top;
}
.lo {
  position: absolute;
  bottom: 2.5em;
  color: blue;
  transform: rotate(45deg) scaleX(-1);
  right: 1em;
  font-size: 10vw;
  -webkit-text-stroke: 1px blue;
  -webkit-text-fill-color: transparent;
}
.lo span {
  transform: rotate(15deg) translateY(0.5em);
  display: inline-block;
}
.lo span:first-child {
  transform: translate(0.75em, -0.125em) rotate(16deg);
}
@media (min-width: 45em) {
  blockquote {
    font-size: 6vw;
  }
}
@keyframes blink {
  from { color: white; }
  to { color: transparent; }
}
